<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MindType</Name>
    <Version>1.1.0</Version>
    <Title>MindType</Title>
    <Publisher>MindType</Publisher>
    <StartMenuDir>MindType</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/MindType</TargetDir>

    <!-- Icons -->
    <InstallerApplicationIcon>app</InstallerApplicationIcon>
    <InstallerWindowIcon>app.png</InstallerWindowIcon>

    <!-- Images -->
    <Logo>logo.png</Logo>
    <Watermark>watermark.png</Watermark>
    <Banner>banner.png</Banner>

    <!-- Style -->
    <WizardStyle>Modern</WizardStyle>
    <StyleSheet>style.qss</StyleSheet>
    <ControlScript>installer.js</ControlScript>

    <!-- Default to user's system language -->
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
</Installer>
